* {
    box-sizing: border-box;
}
/* 기본값은 content-box */


/* padding : 안쪽 네방향 여백 */
header {
    background-color: #dbcfb0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    padding-top : 50px;
    height: 150px;
    
}

nav {
    float:top;
    background-color: #ebf0e2;
    width: 100%;
    height:50px;
    padding:15px;
    text-align: center;
}


article {
    float:left;
    background-color:#ffffff;
    width: 70%;
    height: 400px;
    padding :10px;
}

aside {
    float:left;
    background-color: #ebf0e2;
    width: 10%;
    height: 400px;
    padding :10px;
}

footer {
    float:bottom;
    background-color: #545775;
    color:#ffffff;
    text-align: center;
    padding :20px;
    
}

section::after{
    content:"";
    clear: both;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

table {
    width:100%;
    border-collapse: collapse;
}

tbody {
    text-align: center;
}


 .mydiv {
    border:5px solid #ff7300; /* 테두리 */
    margin-bottom: 20px;        /* 아래쪽 여백 */
    padding: 10px;              /* 안쪽(4방향) 여백 */ 
}

.container {
    width: 100%;
    height: 600px;
    padding: 50px;
    
}

hr {
    margin-bottom:20px;
    border : 2px solid #ebf0e2;
}
.lbl1 {
    
    width:100px;
    display: inline-block;
    margin-bottom: 8px;
    border-left:3px solid rgb(255, 51, 0);
    text-align: center;
}

label {
    font-size:14px;
}
 .mydiv1 {
    margin-bottom: 2px;

}

.btn1 {
    margin-right: 1px;
    margin-left : 8px;
    display: inline;
}
